body{
text-align:center;
float:center;
background-image: url(../images/soccerbackground.jpeg);


}

#startButton{

	width:75%;
	background-color: rgba(72, 72, 169, 0.95);
	color:white;
	margin-top: 20%;
}

#containerdiv{
	float:center;
	width:75%;
	margin-top: 40px;
}

#gameSection{

	width: 100%;
	vertical-align: center;
	background-color: #c4e2be;
}

h1{
	background-color: #6dda67;
	color:blue;
}

#clock{

	color:#e20d0d;

}

#question{
color:rgba(72, 72, 169, 0.95);


}

#resultMessage{
	background-color: rgba(72, 72, 169, 0.95);
	color:white;
}

#correctAnswerWas{

	color:#e20d0d;
}


.choices:hover{
	background-color: rgba(72, 72, 169, 0.95);
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 2px white;
	cursor: pointer;

}