body{
text-align:center;
float:center;
background-image: url(../images/soccerbackground.jpeg);


}

#startButton{

	width:75%;
	background-color: rgba(16, 16, 187, 0.95);
	color:white;
	margin-top: 20%;
}

#containerdiv{
	float:center;
	width:75%;
	margin-top: 40px;
}

#gameSection{

	width: 100%;
	vertical-align: center;
	background-color: #b0e2ea;
}

h1{
	background-color: #bcbebf;
	color:blue;
}

#clock{

	color:red;

}

#question{
color:rgba(16, 16, 187, 0.95);


}



.choices:hover{
	background-color: rgba(16, 16, 187, 0.95);
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 2px white;
	cursor: pointer;

}